<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title%} {% endblock %}</title>
</head>
<body>
    <h1>my site</h1>
      <a href="{% url 'home' %}">Home</a> /
    {% if user.is_authenticated %}
      <a href="{% url 'secret' %}">Secret Page</a> /
      <a href="{% url 'secret2' %}">Secret Page(class based views)</a> /
      <a href="{% url 'password_change' %}">Change password</a> /
      <a href="{% url 'logout' %}">Log Out</a> / 
      <strong>you are logged in as {{user.username}}</strong>
    {% else %}
      <a href="{% url 'signup' %}">Sign Up</a> /
      <a href="{% url 'login' %}">Log In</a> 
    {% endif %}
    
    
    
    <hr>
    {% block content %}

    {% endblock %}
    
</body>
</html>